#file paths and envs

#PATH parameters
conda_source_path=/opt/anaconda3/etc/profile.d/conda.sh
conda_env_name=shovill

#mode (sbatch the script for slurm)
mode=local

#slurm (DEPRECATED as of 26-08-2026)
cpus=4
mem=16G
partition=project
job_name=shovill_joss

#shovill config
shovill_separator=_R






