file paths and envs

#PATH parameters
conda_source_path=path/to/etc/profile.d/conda.sh
conda_env_name=shovill_module

#mode (not other modes are supported as of 26082026)
mode=slurm

#slurm
cpus=4
mem=16G
partition=project
job_name=shovill_joss

#seperate forward and backward reads (_R[1] and _R[2]).
shovill_separator=_R



